@import url(./queriesEstilos.css);
@import url(./oraciones.css);

:root {
  --morado: #9933cc;
  --blanco: aliceblue;
  --negro: #222;
}

a {
  text-decoration: none!important;
}

* {
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: var(--blanco);
  font-family: 'Acme', sans-serif;
}

body {
  background-color: rgb(19, 18, 18) !important;
}

img {
  height: 270px;
  object-fit: cover;
}

p, li {
  font-size: 20px;
  color: white;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.jumbotron_imagen {
  background-image: url('../img/universo1.jpg');
  background-size: cover;
  height: 479px;
}

.navbar-toggler-icon {
  border: 1px solid white;
  border-radius: 3px;
}

.nav-item {
  font-size: 19px;
}

.subrayar_texto {
  border-bottom: 1px solid white;
}

.vineta_img {
  list-style: none;
  padding-left: 12px !important;
}

/* viñeta de corazón */
.vineta_img i {
  color: red;
  margin-right: 12px;
}

ul {
  padding-left: 24px;
}

/*  ------------------- decretos.html --------------------------- */

li .span {
  color: #04cef1;
  font-family: 'Acme', sans-serif;
  font-size: 23px;
}

footer h3 {
  text-align: center;
}

