@media (min-width: 320px) and (max-width: 991px) {
  #ir_a {
    margin-top: 13px;
    display: block;
    justify-content: center;
    margin-left: 14px;
    margin-bottom: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1367px) {
  .z {
    display: flex;
    justify-content: space-around;
    padding: 23px;
  }
}
